.container {
  height: 100%;
  color: red;
}

body {
  background: url(back.jpg);
  font-size: 1rem;
  text-align: center;
}

label {
  color: yellow;
  font-weight: bold;
  font-style: italic;
}

input {
  line-height: 200%;
  border-radius: 5px;
}

form {
  background-color: #ADDAE6;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #3283a8;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}